.clock{
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 90%);
    color: #4aefe1;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    box-shadow: 5px 5px 15px -5px #000000;
    // min-height: 206px;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    .hidden-clock{
        font-size: 2.5rem;
        text-align: center;

    }
}
@media screen and (max-width: 768px) {
    .clock{
        background-color: blue;
    }
    .hidden-clock{
        font-size: 3rem;
        text-align: center;
        color: white;
    }
}



// body {
//     background: #0f3854;
//     background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
//     background-size: 100%;
// }
// p {
//     margin: 0;
//     padding: 0;
// }
// .clock {
//     font-family: 'Share Tech Mono', monospace;
//     color: #ffffff;
//     // text-align: center;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     .time {
//         letter-spacing: 0.05em;
//         font-size: 80px;
//         padding: 5px 0;
//     }
//     .date {
//         letter-spacing: 0.1em;
//         font-size: 24px;
//     }
//     .text {
//         letter-spacing: 0.1em;
//         font-size: 12px;
//         padding: 20px 0 0;
//     }
// }